* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

.page {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 48px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecece;
    margin-top: 20px;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 20px;
}

.maro-logo a {
    font-weight: 500;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: dimgray;
    
}

a:hover {
    color: black;
}

.product-section-1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.product-img {
   width: 340px;
   height: 340px;
   border: 1.5px solid rgb(198, 198, 198);
   border-radius: 12px;
   object-fit: cover;
}

.product-purchase-section {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-wrap: wrap;
}

.instock-tag {
    background-color: rgb(226, 240, 233);
    color:rgb(11, 114, 58);
    display: flex;
    font-size: 12px;
    border-radius:8px;
    padding: 4px 12px 4px 12px ;
    align-self: flex-start;
    margin-bottom: 16px;
}

.notebook-title h2 {
    font-size: 26px;
    font-weight: 500;
}

.notebook-title p {
    margin-top: 6px;
    font-size: 14px;
}

.notebook-price {
    margin-top: 24px;
}

.notebook-price h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 6px;
}

.notebook-price p {
    font-size: 12px;
    color:#7e7e7e;
}

.notebook-price {
    border-bottom: 1px solid #cecece;
    padding-bottom: 1rem;
    margin-bottom: 30px;
}

.identifier-text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.colors {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.black-color {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    outline: 2px solid rgb(32, 32, 32);
    outline-offset: 2px;
}

.blue-color {
    background-color: rgb(52, 99, 169);
    cursor: pointer;
}

.green-color {
    background-color: rgb(45, 137, 79);
    cursor: pointer;
}

.red-color {
    background-color: rgb(137, 45, 45);
    cursor: pointer;
}

/* .black-color:hover,
.red-color:hover,
.blue-color:hover,
.green-color:hover {
    outline: 2px solid rgb(32, 32, 32);
    outline-offset: 2px;
} */

.quantity-button {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    margin-bottom: 24px;
}

.minus-button,
.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: .75px solid rgb(217, 217, 217);
    border-radius: 10px;
    cursor: pointer;
    transition: scale 0.4s, background-color 0.1s;
}

.amount-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-left: 1px solid rgb(217, 217, 217);
    border-right: 1px solid rgb(217, 217, 217);
}

.minus-button:active,
.plus-button:active {
    background-color: rgba(128, 128, 128, 0.069);
    scale: 90%;
}

.btn {
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 8px;
    padding: 10px 6px 10px 6px;
    margin-bottom: 12px;
    font-weight: 550;
    transition: scale .2s, background-color .2s;
    cursor: pointer;
}

.btn:active {
    scale: 98%;
    background-color: #dadada;
}

.green-checkmark {
    width: 20px;
    height: 20px;
    background-color: rgb(192, 235, 192);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-benefit-1,
.product-benefit-2,
.product-benefit-3 {
    display: flex;
    gap: 12px;
}

.product-benefit-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.pb-text {
    font-size: 14px;
}

.abt-section {
    margin-top: 2rem;
}

.abt-title {
    font-weight: 400;
    margin-bottom: 1rem;
}

.abt-text {
    font-size: 14px;
}

.highlight-stats {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 24px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3ee;
    padding: 20px 100px 20px 100px;
    border-radius: 12px;
}

.stats h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 4px;
}

.stats p {
    font-size: 12px;
    text-align: center;
}

