* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: roboto;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #cecece;
    margin-top: 20px;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    gap: 20px;
}

.maro-logo {
    font-weight: 500;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

a:hover {
    color: black;
}